<div class="row">
  <div class="span9">
    <div class="box padding20">
        <%= render "collections/form" %>
    </div>
  </div>
  <div class="span3">
    <% if params[:types] == "ask" %>
    <div class="fs12">
      <div>什么是 <i><strong>求资源</strong></i> ？</div>
      <div class="muted mb10">
        想学习知识？看电视剧集？找直播地址？寻酷软使用方法？无论你想要什么，只需要发布一需求贴，热心的签友会帮忙共享最好的资源。
      </div>
      <div class="">
        因此 <strong>简洁容易理解的标题</strong>，<strong>详细的补充描述</strong> 和 <strong>贴切的标签</strong> 将有助于资源的快速获取。
        <!--a href=""><i>查看示例</i></a-->
      </div>
    </div>
    <% else %>
    <div class="fs12">
      <div><i>你知道吗</i> ？</div>
      <div>可以对分享的链接进行<strong>分组</strong>哦</div>
    </div>
    <% end %>
  </div>
</div>