<% url =  comments_path(@commentable.class.to_s.underscore, @commentable.id) %>
<%= form_for @comment, remote: true, url: url do |f| %>
    <% if @comment.errors.any? %>
    <div class="alert alert-error">
      <%= @comment.errors.full_messages().join("<br>") %>
      <button class="close" type="button" onclick="$(this).parents('.alert').slideUp();">&times;</button>
    </div>
    <% end %>
    <div><%= f.text_field :comment %></div>
    <div><%= f.submit "添加", class: "btn" %></div>
<% end %>