<div class="row">
  <div class="span4">
   你好头像
    <div><%= @user.email %></div>
  </div>
  <div class="span8">
    <div>
      合集列表
      <a href="<%= new_collection_path %>" class="btn btn-small">
        <i class="icon-plus-sign"></i>
        添加新合集
      </a>
    </div>
    <ul>
      <% @user.collections.each do |collection| %>
      <li><a href="<%= collection_path(collection) %>"><%= collection.title %></a></li>
      <% end %>
    </ul>
  </div>
</div>