<% if @link.errors.any? %>
$('#new_link').replaceWith('<%= j render :partial => "links/form", locals: { link: @link } %>');
<% else %>
$('<li class="clearfix"><%= j render :partial => "links/item", locals: { link: @link } %></li>')
        .appendTo($('.links'));
$('#new_link .alert-error').remove();
$('#new_link')[0].reset();
<% end %>