.page-title { font-size: 140%; font-weight: 400; line-height: 1.4; margin: 0; padding: 5px 0; }
#collection .links { list-style: none; margin: 0; padding: 0; }
#collection .links .vote { padding: 10px 0; }
#collection .links .vote form { margin: 0; }
#collection .links .vote button { background: none; border: none; }
#collection .links .link { border-top: #EEEEEE 1px solid; margin-left: 28px;  padding: 10px 0; }
#collection .likebale li { float: left; margin: 3px 3px 0 0; }

.comments { border: #EEEEEE 1px solid; margin: 10px; display: none; }
.comments form { background-color: #F5F5F5; padding: 15px; margin: 0; }
.comments .comment { font-size: 12px; border-bottom: #EEEEEE 1px solid; padding: 10px 0; margin: 0 10px; }
.comments .head-pic { float: left; margin-right: 10px; margin-top: 5px; }
.comments .head-pic img { width: 28px; height: 28px; border-radius: 2px; }

.add-links { padding: 10px 27px; background-color: #F5F5F5; }
.add-links form { margin: 0; }

textarea { overflow-y:visible!important; }
.field_with_errors input, .field_with_errors select, .field_with_errors textarea { border-color: #b94a48; }

#collection .actions { display: none; position: absolute; background-color: #F4F4F4; padding-right: 5px; list-style: none; margin: 0; border-radius: 2px; }
#collection .actions .sq-icon-add { margin: 2px 4px 0 4px; }

#collection .group { border-bottom: #eee 1px solid; margin-bottom: 15px; }
#collection .group h2 { font-size: 110%; margin: 0; }
#collection .group .description { /*margin-top: 5px; padding-left: 10px; border-left: #999 2px solid;*/ padding-bottom: 5px; font-size: 12px; }
#collection .info { margin-bottom: 10px; border-bottom: #eee 1px solid; padding-bottom: 5px; }

.link_images { position: absolute; padding: 5px; }
.link_images img { width: 100px; }
