.collection { padding: 15px; margin-bottom: 15px; }
.collection .detail {  float: right; margin: -17px -17px 0 0; display: none; }
.collection .detail a { background: url(/assets/home_go.png); height: 19px; width: 19px; display: block; }
.collection .detail a:hover { background-position: -30px 0; }
