.collection {  }
.collection .box { padding: 15px; margin-bottom: 15px; margin-left: 71px; margin-left: 62px\9; }
.collection .detail {  float: right; margin: -17px -17px 0 0; display: none; }
.collection .detail a { background: url(/assets/home_go.png); height: 19px; width: 19px; display: block; }
.collection .detail a:hover { background-position: -30px 0; }
.collection .user { padding-right: 15px; display: block; position: absolute; background: url(/assets/narrow_user_left.png) right center no-repeat; }
.collection .user img { border-radius: 3px; }
.collection .line { border-top-color: #f3f3f3; }

.tags a { margin-right: 5px; margin: 0 2px 2px 0; }

.active_users a { display: block; float: left; margin: 2px; }
.active_users img { border-radius: 3px; }

.bottom-links a { color: #999; font-size: 12px; margin-right: 10px; }
