body { background-color: #EEF0F3; color: #494848; font-family: "Oxygen",Arial,"Hiragino Sans GB","Microsoft YaHei","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;}
a { color: #259; }
form { margin: 0; }
.padding10 { padding: 10px; }
.padding20 { padding: 20px; }
.mb20 { margin-bottom: 20px; }
.mb0 { margin-bottom: 0!important; }
.mb5 { margin-bottom: 5px; }
.box { background: #fff; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
.box h3 { padding: 10px; border-bottom: 1px dashed #ece5d8; font-size: 100%; line-height: 100%; margin: 0; margin-bottom: 7px; }
.box h2 { font-size: 140%; line-height: 100%; margin: 0; margin-bottom: 30px; }
.box .content { padding: 10px; padding-top: 0; margin: 0 2px 2px 0; }

.modal { width: 700px; border-radius: 0; left: 45%; }
.modal h3 { font-size: 120%; font-weight: normal; }

.header { background-color: #144465; color: #fff; }
.header .navbar-inner { background: none; filter: none; }
.header .brand { color: #fff; text-shadow: none; }
.header a.dark_blue { color: #A0B3C0!important; }
.header a.dark_blue:hover { color: #fff!important; }
.header .help { margin-left: 20px; border-right: #12364D 1px solid;  }
.header .help a { border-left: #12364D 1px solid; }
.navbar .nav > li > a { color: #fff; text-shadow: none; }
.navbar .nav > li > a:hover { color: #A0B3C0; }
.top-menu { min-width: 120px; }
.top-menu img { margin-right: 5px; }
.top-dropdown-menu { background-color: #144465; position: absolute; width: 100%; margin: 0; display: none; border-radius: 0 0 3px 3px; }
.top-dropdown-menu a { color: #fff; padding: 10px 15px 10px; text-decoration: none; display: block; }
.top-dropdown-menu a:hover { background-color: #216293; }
.top-dropdown-menu a i { margin-right: 5px; }
.open .top-dropdown-menu { display: block; }
.top-dropdown-menu .last a{ border-radius: 0 0 3px 3px; }

.footer { /*background-color: #144465;*/ padding: 20px; margin-top: 20px; color: #BBB; font-size: 12px; }
.footer a { color: #999; font-size: 12px; }
.line { border-top: #dadada 1px solid; border-bottom: #fff 1px solid; }

.form-input { height: 20px; line-height: 19px; padding: 10px; margin: 0 0 2px; border-color: #b0b5bd #c1c5cb #d2d6dc; border-radius: 0!important; }
.input-block-level { min-height: 40px; }

i[class^=sq-icon-], i[class*=" sq-icon-"] { display: inline-block; line-height: 10px; vertical-align: 0; background-image: url(/assets/sprites.png); background-repeat: no-repeat; }
.sq-icon-comments { background-position: -28px -22px; width: 9px; height: 10px; }
.sq-icon-add {  background-position: -97px -23px; height: 9px; width: 8px; }
.sq-icon-edit { background-position: -118px -50px; height: 12px; margin-right: 4px; outline: medium none; overflow: hidden; width: 12px; vertical-align: -3px!important; }
.sq-icon-remove { background-position: -234px -91px; height: 12px; width: 12px; margin-right: 4px; vertical-align: -2px!important; }
.sq-icon-setting { background-position: -88px -147px; width: 14px; height: 14px; vertical-align: -2px!important; }
.sq-btn { color: #999; display: inline-block; font-size: 12px; -webkit-text-size-adjust: none; font-weight: 400; padding: 0 5px 0 2px; border-radius: 2px; margin: 0 0 0 2px; }
.sq-btn:hover { text-decoration: none; background-color: #EFF6FA; color: #698EBF; }
.sq-btn:hover > .sq-icon-edit { background-position: -131px -50px; }
.sq-btn:hover > .sq-icon-add { background-position: -97px -38px; }

.sys_tags a { padding: 2px 5px; }
.sys_tags a:hover, .sys_tags a.selected { background-color: #144465; color: #fff; text-decoration: none; border-radius: 2px; }