// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "votes.css.scss";
.link { margin-left: 30px; }
.link .buttons a, .link .timeline a { color: #999; font-size: 12px; }
.item { margin-bottom: 10px; }
.sort a { font-size: 12px; padding: 2px 10px!important; }
