// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.vote { text-align: center; }
.vote form { margin: 0; line-height: 14px; }
.vote button { background: none; border: none; height: 14px; line-height: 14px; padding: 0; margin: 0; }
.vote .number { color: #999; line-height: 100%; margin-top: 3px; }

.link { margin-left: 30px; }
.link .buttons a, .link .timeline a { color: #999; font-size: 12px; }
.item { margin-bottom: 10px; }
.sort a { font-size: 12px; padding: 2px 10px!important; }
