<p>你好 <%= @resource.email %>!</p>

<p>你请求在重置在书签网(shuqian001.com)的密码.。请单击下面的链接完成操作。</p>

<p><%= link_to '重设密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果不想重设在书签网(shuqian001.com)的密码，请忽略这封邮件。</p>
