<p>你好 <%= @resource.email %>!</p>

<p>由于登陆失败次数过多，你在书签网(shuqian001.com)上的账户已经被锁定。</p>

<p>点击下面的链接解除锁定:</p>

<p><%= link_to '解锁账户', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
