<div>
  <h1>发现和分享好东西是人类之所以进步的根源——史蒂夫·乔布斯</h1>
</div>
<div>
  在shuqian001.com发现和分享自己的网络世界
</div>

<div>
  在shuqian001.com学习自己感兴趣的知识
</div>

<div>
  在shuqian001.com打造自己的网络媒体
</div>

<div>
  简单可依赖的服务
</div>

<div>
  专注
</div>

<div>
  <small class="muted"><%= Time.now %></small>
</div>