<div class="row">
  <div class="span8">
    <div class="box padding20">
      <div>未登陆，则是引导登陆／注册</div>
      <div>登陆了，则是其关注的推送</div>
    </div>
  </div>
  <div class="span4">
    <div class="box padding10">
      <h3>登陆</h3>

      <h3>热门标签</h3>
      我的标签，和我关注的标签（登陆的情况下）
      <h3>活跃用户</h3>
      关注的好友（登陆的情况下）
    </div>
  </div>
</div>